@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@font-face {
  font-family: 'Exo';
  src: url('@/assets/fonts/NanumSquareRoundOTFB.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Exo', sans-serif !important;
}
